header {
  max-height: 100px !important;
}
.h2{
  justify-content:space-between !important;

}
header img {
 width: 100px;}

.bouthe {
  max-height: 50px !important;
}
.nav-link {
  color: #4a6a8a;
}
header i {
  color: #9d9da3;
}
.sdma {
  background-image: url(../images/doc.jpg);
  min-height: 400px;
  
}

.fo{
 justify-content:center !important;
  
  
}
.clisp {
  min-height: 300px;
  justify-content: center;
}
.clisp h3 {
  color: #272b41;
}
.clisp p {
  color: #98abc6;
  font-size: 14px;
}
.cs{
  justify-content:center;
}
.btbd{
  justify-content: center;
}
.cs img.rounded-circle {
  border: 1px solid skyblue;
}

.carousel img {
  max-height: 100px;
}
#myCarousel {
  width: 100%;
  justify-content: right;
  bottom: -60px;
  margin-left: 100px;
}
.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;

  width: 5px;
  height: 5px;
  margin-top: 50px;
}

.blog .carousel-indicators .active {
  background: #707070;
}
.clisp img {
  max-height: 100px;
  max-width: 100px;
}
.c3 {
  background: #f8f9fa;
}
.c3 .bop {
  color: #a3a3a3;
}
.c3 .bok {
  font-size: 14px;
}
.val {
  color: green;
}
.eto {
  color: yellow;
}
.gri {
  color: gainsboro;
}
.bod {
  background-color: #f8f9fa;

  min-height: 500px;
}
.bod p {
  font-style: italic;
  color: grey;
  font-size: 15px;
}


.blogs .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
  color: cyan;
}

/* The colour of the indicators */
.blogs .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 1%;
  width: 5px;
  height: 5px;
}

.blogs .carousel-indicators .active {
  background: #707070;
}
#blogsCarousel {
  justify-content: right !important;
}
.ccd{
  display:flex;
  justify-content: center;
  align-items: center;
}
.dd{
  
  width:90px !important;
}
.afoc .dd p{
 
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
}
.im{
  max-width: 35px;
}
.bn {
  background-color: #f8f9fa;
}
.btt {
  justify-content: center;
}
.car {
  justify-content: center;
}

footer {
  color: white;
  font-size: 12px;
}
footer ul li{
  list-style: none;
}
footer .a{
  font-size:15px
}


#lt1 {
  justify-content: right;
}
#lt1 li {
  background-color: transparent;
  border: none;
}
.indic{
  bottom: -50px !important;
}
.indic li{
  background-color: #1f72bb !important;
  
  width: 5px !important;
height: 5px !important;
}
.indicateurs{
  bottom: -35px !important;
}
.indicateurs li{
  background-color: #1f72bb !important;
  border-radius: 50% !important;
  width: 10px !important;
height: 10px !important;
}

.degrade {

  display: block;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #1e5799 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #1e5799 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



/* media queries */
@media (max-width: 575px) {

}

